<p id="notice"><%= notice %></p>
<% if !current_user.nil? %>
  <%= button_to "Check Out", checkout_records_path(member_id: current_user.id, book_id: @book.id, :method => :post)%>
  <%= button_to "Reserve", reserve_records_path(reserve_record: { member_id: current_user.id, book_id: @book.id }, :method => :post)%>
<% end %>
<h1 class="text-center">Reserve Status</h1>
<h2 class="text-center"><%= @book.reserved ? "Reserved" : "Available" %></h2>
<h1 class="text-center">Checkout Status</h1>
<h2 class="text-center"><%= @book.checked_out ? "Checked Out" : "Available" %></h2>
<h1 class="text-center">Name</h1>
<h2 class="text-center"><%= @book.name %></h2>
<h1 class="text-center">Category</h1>
<h2 class="text-center"><%= @book.category %></h2>
<h1 class="text-center">Description</h1>
<p class="text-center"><%= @book.description %></p>
<%= link_to 'Back', root_path %>
